body {
    font-family: Lato, sans-serif;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #757575;
    background-color: #FFFFFF;

}

li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #757575;
}

.design-link {
    color: darkgreen;
    text-shadow: none;
    transition: text-shadow 250ms linear;
    
}
.design-link:hover {
    text-shadow: darkcyan 2px 0 10px;
}