* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    color: #231F20;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    font-style: normal;
    color: #A87A51;
    font-weight: 700;
}

header {
    padding: 20px;
}

main {
    text-align: center;
}

.container {
    padding-left: 20px;
    padding-right: 20px;
    margin-right: auto;
    margin-left: auto;

}

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        width: 1024px;
    }
}

.section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;

}

 @media screen and (min-width: 1024px) {
    .section {
        padding-top: 80px;
        padding-bottom: 80px;
    }
} 

.section--front {
    align-items: flex-start;

    min-height: 500px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 50px;

    text-align: center;

    background-color: #949699;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-grow: 1;
    background-image: linear-gradient(to right, rgba(35, 31, 32, 0.4), rgba(35, 31, 32, 0.4)), url('../images/minions-rise-of-gru-opt.jpg');
}

.container__title--front {
    margin-top: 0;
    margin-bottom: 300px;

    color: #ffffff;
    font-weight: 900;
    font-size: 22px;
    text-transform: uppercase; 
}

@media screen and (min-width: 768px) {
    .container__title--front {
        font-size: 28px;
    }
}

@media screen and (min-width: 1024px) {
    .container__title--front {
        font-size: 38px;
    }
}

.know-more {
    width: 200px;
    height: 50px;
    padding: 10px;
    border-radius: 50px;
    
    color: #0A75BC;
    background-color: #FCE029;
}

.know-more:hover,
.know-more:focus {
    color: #FCE029;
    background-color: #0A75BC;
}

@media screen and (min-width: 768px) {
    .know-more {
        font-size: 20px;
    }
}

@media screen and (min-width: 1024px) {
    .know-more {
        font-size: 26px;
    }
}

.container__title--team {
    margin-bottom: 50px;

    font-weight: 900;
    font-size: 22px;
    text-transform: uppercase;

    color: #A87A51;
}

/* .container--team {
    border: 1px solid #A87A51;
} */

.filter-buttons {
    margin-bottom: 50px;

}

@media screen and (min-width: 768px) {
    .filter-buttons {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}

.filter__button {
    padding: 5px;
    margin-bottom: 10px;

    font-weight: 700;

    color: #A87A51;
    background-color: #FCE029;

    border: 1px solid #FCE029;
    border-radius: 10px;
}

.filter__button:hover,
.filter__button:focus {
    color: #FCE029;
    background-color: #A87A51;
}

@media screen and (min-width: 768px) {
    .team-gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

/* The slider itself */
.filter__button--range {
    -webkit-appearance: none;
    /* Override default CSS styles */
    appearance: none;
    margin-bottom: 20px;

    width: 50%;
    /* Full-width */
    height: 10px;
    border-radius: 5px;
    /* Specified height */
    background: #FCE029;
    /* Grey background */
    outline: none;
    /* Remove outline */
    /* opacity: 0.7; */
    /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s;
    /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */


/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.filter__button--range::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* Override default look */
    appearance: none;
    width: 32px;
    /* Set a specific slider handle width */
    height: 32px;
    /* Slider handle height */
    background-image: url('../images/wink.svg');
    /* Green background */
    cursor: pointer;
    /* Cursor on hover */


    background-color: #FCE029;
    background-image: url('../images/wink.svg');
    background-size: contain;
    background-origin: border-box;
    background-repeat: no-repeat;

    border-radius: 50%;
    border-color: #A87A51;
}




.filter__button--range::-moz-range-thumb {
    width: 25px;
    /* Set a specific slider handle width */
    height: 25px;
    /* Slider handle height */
    background: #A87A51;
    /* Green background */
    cursor: pointer;
    /* Cursor on hover */
}

.range-container {
    position: relative;
    padding-top: 30px;
    width: 250px;
}

.range__icon {
    position: absolute;
    top: 0;
    left: 20%;

    fill: #A87A51;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.range__icon--woman {
    left: 70%;
}

.range__icon--both {
    left: 45%;
}

.range__icon--changed {
    fill: #0A75BC;
}



.minion-card__thumb {
    margin-bottom: 30px;
}

.minion-card__image {
    /* border: 3px solid #FCE029; */
    border-radius: 50px;
    box-shadow: inset 0 -3em 3em rgba(10, 117, 188, 0.2), 0 0 0 4px rgb(252, 224, 41), 0.3em 0.3em 1em rgba(10, 117, 188, 0.5);

    margin-bottom: 20px;

    transform: scale(1);
    transition: transform 250ms linear;
}

.minion-card__image:hover,
.minion-card__image:focus {
    transform: scale(1.1);
}

.minion__function,
.minion__role,
.minion__name {
    margin-bottom: 5px;
}

.minion {
    color: #0A75BC;
}


.minion__links {
    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 20px;
}

.minion__link {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.minion-link__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;


    color: #A87A51;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);


}

.minion-link__link:hover,
.minion-link__link:focus {
    color: #0A75BC;
}

.minion-link__icon {
    fill: currentColor;
}