* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
 
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

ul {
    list-style-type: none;
}

header, 
.h1-flexbox {
    margin-bottom: 30px;
    padding: 0 10px;

}

.section-flexbox {
    padding: 0 10px;
}

.ul-flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    padding: 10px;

    border: 5px solid #576F72;
    border-radius: 5px;

    color: white;
}

.li-flexbox {
    width: 100%;
    padding: 10px;
    background-color: #54BAB9;
    border-radius: 5px;
    
}

.li-flexbox:not(:last-child) {
    margin-bottom: 10px;
}

@media screen and (min-width: 566px) and (max-width: 835px) {
    .li-flexbox {
        flex-basis: calc((100% - 2 * 10px) / 2);
    }

    .li-flexbox:nth-child(-n + 2) {
        margin-bottom: 20px;
    }

    .li-flexbox:nth-last-child(-n + 2) {
        margin-bottom: 0;
    }

    .li-flexbox:nth-child(2n + 1) {
        margin-right: 10px;
    }
}

@media screen and (min-width: 836px) and (max-width: 1105px) {
    .li-flexbox:not(:last-child) {
        flex-basis: calc((100% - 3 * 10px) / 3);
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 1106px) {
    .li-flexbox {
        flex-basis: calc((100% - 4 * 10px) / 4);
    }

    .li-flexbox:not(:last-child) {
        margin-bottom: 0;
    }
}

